<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="ja">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>Signup</title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="" />
    </head>
    <body>
      <!--[if lt IE 7]>
        <p class="browsehappy">
          You are using an <strong>outdated</strong> browser. Please
          <a href="#">upgrade your browser</a> to improve your experience.
        </p>
      <![endif]-->
      <div>
        {{ range .mess.Success }}
          <p style="color:green">{{ . }}</p>
        {{ end }}
        {{ range .mess.Notice }}
          <p style="color:yellow">{{ . }}</p>
        {{ end }}
        {{ range .mess.Error }}
          <p style="color:red">{{ . }}</p>
        {{ end }}
        <h2>Signup</h2>
        <form method="post" action="./signup">
          <div class="control">
            <label for="nickname" class="control-label">Nickname</label>
            <input type="text" name="name" value="{{.f.Name}}" placeholder="Enter your nickname" id="nickname" value="">
          </div>
          <div class="control">
            <label for="email" class="control-label">Email</label>
            <input type="text" name="email" value="{{.f.Email}}" placeholder="Enter your email address" id="email" autocomplete="off">
          </div>
          <div class="control">
            <label for="password" class="control-label">Password</label>
            <input type="password" name="password" value="" placeholder="Enter your password" id="password" autocomplete="off">
          </div>
          <div class="control">
            <input type="submit" name="signup" id="signup" value="Signup">
          </div>
        </form>
      </div>
    </body>
  </html>
</html>
